<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="port" value="50051"/>
		<add key="host" value="localhost"/>
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=DESKTOP-8J62RD3\SQLEXPRESS;Initial Catalog=AdventureWorks2017;Integrated Security=True;Connect Timeout=300" />
	</connectionStrings>
</configuration>